{% extends "admin/change_list.html" %}

{% block extrahead %}
    <script type="text/javascript">
        django.jQuery = jQuery;
        console.log('Entro change list jajaj')

        //Funciones de Teclas F
        django.jQuery( function() {
            django.jQuery(document).on('keydown', 'body', function(event) {
                //F2 agregar venta
                if(event.keyCode==113){
                    event.preventDefault();
                    window.location.href = "/admin/venta/venta/add/"
                }
            });
        });

    </script>
{% endblock %}

{% block footer  %}
 
    <h1>  F2 - AÑADIR VENTA </h1>

{% endblock %}