version: '3.9'

services:
  # aplicacion django
  app_container:
    container_name: ${PROJECT_NAME}_app
    build: .
    working_dir: /opt/carniceriavv
    command: python manage.py runserver 0.0.0.0:8000
    restart: always
    volumes:
      - .:/opt/carniceriavv
    environment: []
      #- POSTGRES_NAME=vvalle
      #- POSTGRES_USER=postgres
      #- POSTGRES_PASSWORD=postgres
    ports:
      - '80:8000'
    depends_on:
      - db_container
  # postgres database
  db_container:
    container_name: ${PROJECT_NAME}_db
    image: postgres:13
    volumes:
      - /home/vvalle/proyectovvalle/postgres_data:/var/lib/postgresql/data/
    restart: always
    environment: []
      #- "POSTGRES_HOST_AUTH_METHOD=trust"
      #- POSTGRES_DB=DATABASE_NAME
      #- POSTGRES_USER=postgres
      #- POSTGRES_PASSWORD=postgres

